# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/

# Environment
.env
.env.*

# Logs
logs/*
!logs/.gitkeep
*.log

# Airflow runtime artifacts
airflow/logs/*
!airflow/logs/.gitkeep

# Runtime data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db